SONGLIBRARY_SERVER_LOG_LEVEL="debug"
SONGLIBRARY_SERVER_LOG_FILE_NAME="log.txt"
SONGLIBRARY_SERVER_BIND_ADDRESS=":8000"
SONGLIBRARY_DATABASE_CONNECT_STRING="host=localhost database=song_library port=5433 sslmode=disable user=postgres password=1234"
SONGLIBRARY_OUTSIDE_SERVER_BIND_ADDRESS="http://localhost:8000"